<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VDC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <VDC.Properties.Settings>
            <setting name="font" serializeAs="String">
                <value>Courier New, 9.75pt</value>
            </setting>
            <setting name="datfilesignature" serializeAs="String">
                <value>This data file was created with the Visual Data Changer, download for free at http://y2f.heliohost.org</value>
            </setting>
            <setting name="autoindent" serializeAs="String">
                <value>True</value>
            </setting>
        </VDC.Properties.Settings>
    </userSettings>
</configuration>
